In [1]:
# Google Colaboratoryを使用する場合は、下記のコメントアウトを外し、実行してください

In [2]:
# # 下記セルを実行すると、authorization codeの入力を求められます。
# # 出力されたリンク先をクリックし、Googleアカウントにログインし、
# # authorization codeをコピーし、貼り付けをおこなってください。
# import os
# from google.colab import drive
# drive.mount('/content/drive')

In [3]:
# working_dir = 'MLSys_100Knocks' #　※※自分で作成したフォルダパスが異なる場合こちらを変更してください。※※
# path = f'/content/drive/MyDrive/{working_dir}/本章/7章'
# os.chdir(path)

# ７章 機械学習モデルを構築する１０本ノック

### ノック６１：フォルダ生成をして機械学習用データを読み込もう

In [4]:
import os
data_dir = "data"
input_dir = os.path.join(data_dir, "0_input")
output_dir = os.path.join(data_dir, "1_output")
os.makedirs(input_dir, exist_ok=True)
os.makedirs(output_dir, exist_ok=True)

##### ＊＊必ずデータの配置をおこなってください。＊＊

In [5]:
import pandas as pd
ml_data_file = "ml_base_data.csv"
ml_data = pd.read_csv(os.path.join(input_dir, ml_data_file))
ml_data.head(3)

,store_name,y_weekday,y_weekend,order,order_fin,order_cancel,order_delivery,order_takeout,order_weekday,order_weekend,...,order_time_14,order_time_15,order_time_16,order_time_17,order_time_18,order_time_19,order_time_20,order_time_21,delta_avg,year_month
0,あきる野店,1.0,0.0,1147,945,202,841,306,844,303,...,101,95,107,106,100,108,109,96,34.110053,201904
1,さいたま南店,1.0,1.0,1504,1217,287,1105,399,1104,400,...,143,142,137,130,113,140,132,155,35.337716,201904
2,さいたま緑店,1.0,1.0,1028,847,181,756,272,756,272,...,95,102,82,90,93,95,95,84,34.291617,201904

### ノック６２：カテゴリカル変数の対応をしよう

In [6]:
category_data = pd.get_dummies(ml_data["store_name"], prefix="store", prefix_sep="_")
display(category_data.head(3))

,store_あきる野店,store_さいたま南店,store_さいたま緑店,store_さいたま西店,store_つくば店,store_三浦店,store_三鷹店,store_上尾店,store_上野店,store_世田谷店,...,store_駒込店,store_高円寺店,store_高島平店,store_高崎店,store_高座店,store_高津店,store_高田馬場店,store_鴻巣店,store_鶴見店,store_麻生店
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
del category_data["store_麻生店"]
del ml_data["year_month"]
del ml_data["store_name"]
ml_data = pd.concat([ml_data, category_data], axis=1)
ml_data.columns

Index(['y_weekday', 'y_weekend', 'order', 'order_fin', 'order_cancel',
       'order_delivery', 'order_takeout', 'order_weekday', 'order_weekend',
       'order_time_11',
       ...
       'store_駒沢店', 'store_駒込店', 'store_高円寺店', 'store_高島平店', 'store_高崎店',
       'store_高座店', 'store_高津店', 'store_高田馬場店', 'store_鴻巣店', 'store_鶴見店'],
      dtype='object', length=215)

### ノック６３：学習データとテストデータを分割しよう

In [8]:
from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(ml_data, test_size=0.3, random_state=0)
print(f'Train:{len(train_data)}件/ Test:{len(test_data)}')
print(f'Weekday Train0:{len(train_data.loc[train_data["y_weekday"]==0])}')
print(f'Weekday Train1:{len(train_data.loc[train_data["y_weekday"]==1])}')
print(f'Weekday Test0:{len(test_data.loc[test_data["y_weekday"]==0])}件')
print(f'Weekday Test1:{len(test_data.loc[test_data["y_weekday"]==1])}件')
print(f'Weekend Train0:{len(train_data.loc[train_data["y_weekend"]==0])}')
print(f'Weekend Train1:{len(train_data.loc[train_data["y_weekend"]==1])}')
print(f'Weekend Test0:{len(test_data.loc[test_data["y_weekend"]==0])}件')
print(f'Weekend Test1:{len(test_data.loc[test_data["y_weekend"]==1])}件')

Train:1501件/ Test:644
Weekday Train0:685
Weekday Train1:816
Weekday Test0:290件
Weekday Test1:354件
Weekend Train0:708
Weekend Train1:793
Weekend Test0:295件
Weekend Test1:349件

### ノック６４：１つのモデルを構築しよう

### ノック６５：評価を実施してみよう

### ノック６６：モデルの重要度を確認してみよう

### ノック６７：モデル構築から評価までを関数化しよう

### ノック６８：モデルファイルや評価結果を出力しよう

### ノック６９：アルゴリズムを拡張して多角的な評価を実施しよう

### ノック７０：平日/休日モデルを一度で回せるようにしよう